<header class="header">
	<div class="header__inner">
		<a href="index.html" class="header__logo"></a>
		<nav class="header__nav">
			<button class="header__burger header__burger--in-nav">
				<i class="ph ph-x"></i>
			</button>
			<a id="link-home" href="index.html" class="header__link">
				<i class="ph ph-house"></i> Главная</a
			>
			<a id="link-catalog" href="catalog.html" class="header__link"
				><i class="ph ph-shopping-bag"></i> Каталог</a
			>
			<!-- <a id="link-blog" href="blog.html" class="header__link"
				><i class="ph ph-article"></i> Блог</a
			> -->
			<a id="link-about" href="about.html" class="header__link"
				><i class="ph ph-info"></i> О нас</a
			>
		</nav>

		<button class="header__burger"><i class="ph ph-list"></i></button>
	</div>
</header>
